@layer pages {
  .layout-app {
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .layout-app__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  .layout-app .app-main {
    padding: 16px;
    background: var(--bg-page);
    flex: 1;
    overflow: auto;
  }
}
